.footer {
  padding-block: 80px;
  font-family: var(--ff-dm-sans);
  font-size: 16px;
  line-height: 2;
  color: #fff;
  background-color: #171717;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}