---
import Logo from "../Logo/Logo.astro";

---


<footer class="footer">
  <div class="container">

    <Logo />
    <div class="footer-menu">
      <li>
        <a class="footer-menu__link" href="#">About Us</a>
      </li>
      <li>
        <a class="footer-menu__link" href="#">Porfolio</a>
      </li>
      <li>
        <a class="footer-menu__link" href="#">Team</a>
      </li>
      <li>
        <a class="footer-menu__link" href="#">Blog</a>
      </li>
      <li>
        <a class="footer-menu__link" href="#">Contact Us</a>
      </li>
    </div>
    <address class="address">
      <ul class="address-list">
        <li>
          <a class="address-list__link" href="#">
            2307 Beverley Rd Brooklyn,
            New York 11226 USA
          </a>
        </li>
        <li>
          <a class="address-list__link" href="tel:00201061245741">
            (002) 01061245741
          </a>
        </li>
      </ul>
    </address>
    <div class="copy">
      © 2024 Rafting - WordPress Theme
      by Heaven WP
    </div>

  </div>
</footer>