---
import './blog.css'
---


<section class="blog">
  <div class="container">
    <h2 class="blog__title title">Our Blog</h2>
    <div class="blog__text text-content">
      <p>
        Aliquam molestie pharetra ex, maximus lobortis
        Aenean at Proin rutrum ligula aliquam
      </p>
    </div>
    <ul class="blog__list">
      <li>
        <article class="blog-card">
          <img class="blog-card__img" src="/images/blog-img1.webp" alt="blog image" width="412" height="320" loading="lazy">
          <time class="blog-card__date" datetime="23/07/24">23 Jul, 2024</time>
          <h3 class="blog-card__title">
            Guide to EV Charging Points M…
          </h3>
          <div class="blog-card__text text-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Aenean luctus posuere magna non feugiat.
              Praesent...
            </p>
          </div>
        </article>
      </li>
      <li>
        <article class="blog-card">
          <img class="blog-card__img" src="/images/blog-img2.webp" alt="blog image" width="412" height="320" loading="lazy">
          <time class="blog-card__date" datetime="23/07/24">23 Jul, 2024</time>
          <h3 class="blog-card__title">
            Home Charging Station for a E…
          </h3>
          <div class="blog-card__text text-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Duis ut nisl id nulla semper laoreet at sed...
            </p>
          </div>
        </article>
      </li>
      <li>
        <article class="blog-card">
          <img class="blog-card__img" src="/images/blog-img3.webp" alt="blog image" width="412" height="320" loading="lazy">
          <time class="blog-card__date" datetime="23/07/24">23 Jul, 2024</time>
          <h3 class="blog-card__title">
            Charging Solution for Electri…
          </h3>
          <div class="blog-card__text text-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Sed sed elementum nisl. Suspendisse et ultricies...
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>