---
const {width, height} = Astro.props;
---


<a class="logo" href="/">
  <img class="logo-main" src="./images/logo.svg" alt="logo" width={width} height={height}>
  <img class="logo-fixed" src="./images/logo-white.svg" alt="logo" width={width} height={height}>
</a>