---
import './subscribe.css'
---



<section class="subscribe">
  <div class="container subscribe__container">
    <h2 class="sr-only">Subscribe</h2>
    <div class="subscribe__text">
      <p>
        Join the Movement. Located in more than
        100 cities worldwide.
      </p>
    </div>
    <form class="subscribe-form" action="">
      <label class="sr-only" for="email">Enter your email</label>
      <div class="subscribe-form__row">
        <input class="subscribe-form__input" id="email" type="email" name="email" required>
        <button class="subscribe-form__btn" type="submit" title="Submit">
          <span class="sr-only">Submit</span>
        </button>
      </div>
    </form>
  </div>
</section>