---
import "./scooter.css";
---

<section class="scooter">
  <div class="container">
    <h2 class="sr-only">Scooter</h2>

    <div class="scooter-grid">
      <div class="sidebar">
        <article class="scooter-card">
          <img src="/images/scooter-1.webp" alt="scooter" />
          <h3 class="scooter-card__title">Back Tire</h3>
          <div class="text-content">
            <p>Lorem Ipsum proin gravida nibh velter auctor.</p>
          </div>
        </article>

        <article class="scooter-card">
          <img src="/images/scooter-2.webp" alt="scooter" />
          <h3 class="scooter-card__title">Handle</h3>
          <div class="text-content">
            <p>Lorem Ipsum proin gravida nibh velter auctor.</p>
          </div>
        </article>
      </div>

      <div class="scooter-wrapper">
        <span class="tooltip tooltip-handle" title="Handle" data-tooltip="Handle">+</span>
        <span class="tooltip tooltip-balck-tire" title="Back Tire" data-tooltip="Back Tire"
          >+</span
        >
        <span class="tooltip tooltip-deck" title="Deck" data-tooltip="Deck">+</span>
        <span class="tooltip tooltip-front-tire" title="FROnt Tire" data-tooltip="FROnt Tire"
          >+</span
        >
        <img src="/images/scooter-full.webp" alt="scooter img" />
      </div>

      <div class="sidebar">
        <article class="scooter-card">
          <img src="/images/scooter-3.webp" alt="scooter" />
          <h3 class="scooter-card__title">Deck</h3>
          <div class="text-content">
            <p>Lorem Ipsum proin gravida nibh velter auctor.</p>
          </div>
        </article>
        
        <article class="scooter-card">
          <img src="/images/scooter-4.webp" alt="scooter" />
          <h3 class="scooter-card__title">FROnt Tire</h3>
          <div class="text-content">
            <p>Lorem Ipsum proin gravida nibh velter auctor.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
