---
import Logo from "../Logo/Logo.astro";

import "./header.css";
---

<header class="header">
  <div class="container">

    <ul class="menu">
      <li>
        <a class="menu__link" href="#">home</a>
      </li>
      <li>
        <a class="menu__link" href="#">Pages</a>
      </li>
      <li>
        <a class="menu__link" href="#">Blog</a>
      </li>
      <li>
        <a class="menu__link" href="#">About Us</a>
      </li>
      <li>
        <a class="menu__link" href="#">Contact Us</a>
      </li>
    </ul>
    <Logo />
    <div class="header__actions">
      <a class="header__phone" href="tel:+1534897821">+(1) 534-897-821</a>
      <button class="header__search" type="button" title="Open Search Bar"></button>
    </div>
  </div>
</header>