---
import './enjoy.css';
---

<section class="enjoy" style="background-image: url('./images/enjoy-bg.webp');">
  <div class="container">
    <h2 class="title enjoy__title">Enjoying the ride</h2>
    <div class="text-content enjoy__text">
      <p>
        The Future of Electric Scooters
      </p>
    </div>
    <ul class="enjoy-list">
      <li>
        <div class="enjoy-card enjoy-card-icon-bike">
          <h3 class="enjoy-card__title">Find a Bike</h3>
          <div class="text-content enjoy-card__text">
            <p>
              Lorem Ipsum proin gravida
              nibh velter auctor.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="enjoy-card enjoy-card-icon-helmet enjoy-card--white">
          <h3 class="enjoy-card__title">Put a helmet</h3>
          <div class="text-content enjoy-card__text">
            <p>
              Lorem Ipsum proin gravida
              nibh velter auctor.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="enjoy-card enjoy-card-icon-park">
          <h3 class="enjoy-card__title">Park & Lock</h3>
          <div class="text-content enjoy-card__text">
            <p>
              Lorem Ipsum proin gravida
              nibh velter auctor.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>