---
import './sc-design.css';
---


<section class="sc-design" style="background-image: url('images/sc-design-bg.webp');">
  <div class="container sc-design__inner">
    <div class="sc-design__content">
      <h2 class="sc-design__title">
        Kick’s <br>
        Scooter
      </h2>
      <div class="text-content">
        <p>
          Designed in a minimal yet versatile form to solve
          the current safety and usability problems.
        </p>
      </div>
    </div>
  </div>
</section>