.promo {
  min-height: 700px;
  height: 100vh;
  max-height: 920px;
  position: relative;
}
.promo,
.promo__box {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
} 
.promo__box {
  display: grid;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  min-height: 550px;
  max-height: 700px;
  padding-inline: 115px;

  transform: translateY(-50%);
}
.promo__content {
  max-width: 540px;
  width: 100%;
}
.promo .promo__title,
.promo .promo__text {
  margin-bottom: 20px;
}
.promo-features__item {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 36px;
  line-height: 2;
  text-transform: uppercase;
}
.promo-features__item::before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: var(--icon-check);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.promo-paly {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.promo-paly::before {
  content: '';
  width: 25px;
  height: 25px;
  mask-image: var(--icon-play);
  background-color: var(--c-black);
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
}