---
import "./amazing.css";
---


<section class="amazing">
  <div class="container amazing__container">
    <div class="amazing-intro">
      <h2 class="title">
        Amazing <br>
        Look’s
      </h2>

        <div class="amazing-text text-content">
          <p>
            It is a long established fact that a reader
            be distracted by the readable content of a
            when looking at its layout.
          </p>
        </div>
        <div class="amazing__images">
          <img src="./images/amazing-1.webp" alt="scooter picture" width="130" height="130" loading="lazy">
          <img src="./images/amazing-2.webp" alt="scooter picture" width="130" height="130" loading="lazy">
        </div>
    </div>
    <img src="./images/amazing-3.webp" alt="amazing img" width="433" height="490" loading="lazy">
    <img src="./images/amazing-4.webp" alt="amazing img" width="433" height="490" loading="lazy">
  </div>
</section>